<h1>ようこそ <strong>Bookers</strong> へ！</h1>
<p><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
<p>印象を共有し交換することができます</p>
<p>
<%= link_to 'start', books_path %>
</p>

<style>
 body {
  font-size: 13px;
  line-height: 18px;
  color: #333;
  font-family: verdana, arial, helvetica ,sans-serif;
  margin: 33px;
}
p {
	margin: 33px;
	line-height: 18px;
	font-size: 13px;
}
a {
	color: #333;
}
</style>